# EDA mo fo

## import libraries

In [2]:
import pandas as pd

## Read `outage_clean.csv`

In [4]:
data = "../data/outage_clean.csv"
df = pd.read_csv(data)

## Check Number of Columns and Rows

In [17]:
label_w = 30
num_w = 8
print(f"{'columns in outage data:':>{label_w}} {df.shape[1]:>{num_w}}")
print(f"{'rows in outage data:':>{label_w}} {df.shape[0]:>{num_w}}")
print(f"{'total elements in outage data:':>{label_w}} {df.size:>{num_w}}")

       columns in outage data:       56
          rows in outage data:     1534
total elements in outage data:    85904

## Check NaN and dtype

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1534 entries, 0 to 1533
Data columns (total 56 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   OBS                      1534 non-null   int64
 1   YEAR                     1534 non-null   int64
 2   MONTH                    1525 non-null   float64
 3   U.S._STATE               1534 non-null   object
 4   POSTAL.CODE              1534 non-null   object
 5   NERC.REGION              1534 non-null   object
 6   CLIMATE.REGION           1528 non-null   object
 7   ANOMALY.LEVEL            1525 non-null   float64
 8   CLIMATE.CATEGORY         1525 non-null   object
 9   OUTAGE.START.DATE        1525 non-null   object
 10  OUTAGE.START.TIME        1525 non-null   object
 11  OUTAGE.RESTORATION.DATE  1476 non-null   object
 12  OUTAGE.RESTORATION.TIME  1476 non-null   object
 13  CAUSE.CATEGORY           1534 non-null   object
 14  CAUSE.CATEGORY.DETAIL    1063 non-null   object
 15  HURRICANE.NAMES          72 non-null     object
 16  OUTAGE.DURATION          1476 non-null   float64
 17  DEMAND.LOSS.MW           829 non-null    float64
 18  CUSTOMERS.AFFECTED       1091 non-null   float64
 19  RES.PRICE                1512 non-null   float64
 20  COM.PRICE                1512 non-null   float64
 21  IND.PRICE                1512 non-null   float64
 22  TOTAL.PRICE              1512 non-null   float64
 23  RES.SALES                1512 non-null   float64
 24  COM.SALES                1512 non-null   float64
 25  IND.SALES                1512 non-null   float64
 26  TOTAL.SALES              1512 non-null   float64
 27  RES.PERCEN               1512 non-null   float64
 28  COM.PERCEN               1512 non-null   float64
 29  IND.PERCEN               1512 non-null   float64
 30  RES.CUSTOMERS            1534 non-null   int64
 31  COM.CUSTOMERS            1534 non-null   int64
 32  IND.CUSTOMERS            1534 non-null   int64
 33  TOTAL.CUSTOMERS          1534 non-null   int64
 34  RES.CUST.PCT             1534 non-null   float64
 35  COM.CUST.PCT             1534 non-null   float64
 36  IND.CUST.PCT             1534 non-null   float64
 37  PC.REALGSP.STATE         1534 non-null   int64
 38  PC.REALGSP.USA           1534 non-null   int64
 39  PC.REALGSP.REL           1534 non-null   float64
 40  PC.REALGSP.CHANGE        1534 non-null   float64
 41  UTIL.REALGSP             1534 non-null   int64
 42  TOTAL.REALGSP            1534 non-null   int64
 43  UTIL.CONTRI              1534 non-null   float64
 44  PI.UTIL.OFUSA            1534 non-null   float64
 45  POPULATION               1534 non-null   int64
 46  POPPCT_URBAN             1534 non-null   float64
 47  POPPCT_UC                1534 non-null   float64
 48  POPDEN_URBAN             1534 non-null   float64
 49  POPDEN_UC                1524 non-null   float64
 50  POPDEN_RURAL             1524 non-null   float64
 51  AREAPCT_URBAN            1534 non-null   float64
 52  AREAPCT_UC               1534 non-null   float64
 53  PCT_LAND                 1534 non-null   float64
 54  PCT_WATER_TOT            1534 non-null   float64
 55  PCT_WATER_INLAND         1534 non-null   float64
dtypes: float64(33), int64(11), object(12)
memory usage: 671.3+ KB

## Check datetimes

In [20]:
date_time = [i for i in df.columns if 'TIME' in i] +[i for i in df.columns if 'DATE' in i]
df[date_time].head()

,OUTAGE.START.TIME,OUTAGE.RESTORATION.TIME,OUTAGE.START.DATE,OUTAGE.RESTORATION.DATE
0,5:00:00 PM,8:00:00 PM,"Friday, July 1, 2011","Sunday, July 3, 2011"
1,6:38:00 PM,6:39:00 PM,"Sunday, May 11, 2014","Sunday, May 11, 2014"
2,8:00:00 PM,10:00:00 PM,"Tuesday, October 26, 2010","Thursday, October 28, 2010"
3,4:30:00 AM,11:00:00 PM,"Tuesday, June 19, 2012","Wednesday, June 20, 2012"
4,2:00:00 AM,7:00:00 AM,"Saturday, July 18, 2015","Sunday, July 19, 2015"